@{
    Layout = "~/Views/Shared/_ToDoList.cshtml";
    ViewBag.Title = "我的待辦清單";
}

<div class="container-fluid" id="app" style="height: 100vh">
    <div class="row">

        <!-- 左側邊攔 -->
        <div id="sidebar" class="p-0 flex-column"
             :class="{'col-2':!collapsed,'collapsed':collapsed }">

            <!-- menu -->
            <nav id="sidebar-head" class="navbar navbar-dark bg-dark p-0" @@click="toggleCollapsed">
                <a class="navbar-brand col-12 mr-0" href="#">
                    <svg class="feather">
                        <use xlink:href="~/Content/feather-sprite.svg#menu" />
                    </svg>
                </a>
            </nav>

            <!-- user control -->
            <div id="sidebar-usercontrol" class="d-flex align-items-center bg-light  border-right">
                <ul class="nav w-100">
                    <li class="nav-item w-100 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg class="feather">
                                <use xlink:href="~/Content/feather-sprite.svg#user" />
                            </svg>
                            <span v-if="!collapsed">@((ViewBag.CurrentUser as AppUser).Id)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index","Home")" target="_blank">首頁</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Logout","Account")">登出</a>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- lists -->
            <div id="sidebar-lists" class="bg-light  border-right">
                <!-- more-->
                <ul class="nav flex-column" v-if="collapsed">
                    <li id="lists-more" class="nav-item" @@click="toggleCollapsed">
                        <a class="nav-link" href="#">
                            <svg class="feather">
                                <use xlink:href="~/Content/feather-sprite.svg#more-vertical" />
                            </svg>
                        </a>
                    </li>
                </ul>

                <!-- lists -->
                <ul class="nav flex-column" v-if="!collapsed">
                    <li class="nav-item"
                        draggable="true"
                        v-for="list in toDoLists"
                        :key="list.Id"
                        :class="setborder(list)"
                        @@dragstart="listDragStart($event, list)"
                        @@dragend="listDragEnd($event, list)"
                        @@dragover="listDragOver($event, list)"
                        @@dragleave="listDragLeave($event, list)"
                        @@drop="listDrop($event, list)">
                        <a class="nav-link" href="#" draggable="false">
                            <svg class="feather">
                                <use xlink:href="~/Content/feather-sprite.svg#list" />
                            </svg>
                            <span>{{list.Name}}</span>
                            <span style="float: right; color: #C2BCBB;">{{list.TaskCount > 0 ? list.TaskCount : null}}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- action -->
            <nav id="sidebar-action" class="navbar navbar-light bg-light p-0  border-right">
                <a class="navbar-brand col-12 mr-0" href="#"
                   @@click="createList">
                    <svg class="feather">
                        <use xlink:href="~/Content/feather-sprite.svg#plus" />
                    </svg>
                    <span v-if="!collapsed">新增待辦清單</span>
                </a>
            </nav>
        </div>

        <!-- 主操作區 -->
        <div id="main" class="p-0">
            <!-- 頂部navbar -->
            <nav id="main-navbar" class="navbar navbar-expand navbar-light bg-light border-bottom">
                <!-- TODO more button -->
                <div id="searchbox">
                    <input type="text" class="w-100" placeholder="Search" aria-label="Search"
                           v-model="searchText"
                           v-focus="isOnSearch"
                           @@focus="setOnSearch">
                </div>
                <div id="searchbox-state">
                    <span :class="{'d-none':isOnSearch}"
                          @@click="setOnSearch">
                        <svg class="feather">
                            <use xlink:href="~/Content/feather-sprite.svg#search" />
                        </svg>
                    </span>
                    <span :class="{'d-none':!isOnSearch}"
                          @@click="setClearSearch">
                        <svg class="feather">
                            <use xlink:href="~/Content/feather-sprite.svg#x" />
                        </svg>
                    </span>
                </div>
            </nav>

            <!-- 清單項目顯示欄 -->
            <div class="container">
            </div>
        </div>

        <!-- TODO 右側Detail欄 -->
        <!--<div id="detail " class="p-0"></div>-->
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/toDoList.js"></script>
}
