.feather {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

#sidebar {
    height: 100vh;
}

    #sidebar:not(.collapsed) {
        min-width: 280px;
    }

    #sidebar.collapsed {
        width: 52px;
    }

    #sidebar .navbar-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: 1rem;
        cursor: pointer;
    }

#sidebar-head, #sidebar-usercontrol {
    height: 48px;
}

#sidebar-lists {
    overflow-y: auto;
    height: calc(100vh - 144px);
}

    #sidebar-lists li {
        position: relative;
    }

    #sidebar-lists .nav-link {
        font-weight: 500;
        color: #333;
        display: flex;
    }

        #sidebar-lists .nav-link.active {
            color: #007bff;
        }

            #sidebar-lists .nav-link:hover .feather,
            #sidebar-lists .nav-link.active .feather {
                color: inherit;
            }

    #sidebar-lists .listName {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
    }

.folder {
    transition: background 150ms ease-in-out;
}

    .folder ul {
        transition: height 150ms ease-in-out;
    }
    .folder ul li {
        text-indent: 16px;
    }
.folder-arrow {
    transition: transform 150ms ease-in-out;
}

.folder.collapsed .folder-arrow {
    transform: rotate(90deg);
}

.folder.collapsed ul {
    height: 0 !important;
}

    .folder.collapsed ul li {
        display: none;
    }

.listondragover-top > a:after {
    top: -1px;
}

.listondragover-bottom > a:after {
    bottom: -1px;
}

.listondragover-top > a:after, .listondragover-bottom > a:after {
    content: "";
    position: absolute;
    left: 30px;
    right: 10px;
    border-bottom: 2px solid #686868;
    box-sizing: unset;
}

.listondragover-top:after {
    top: -4px;
}

.listondragover-bottom:after {
    bottom: -4px;
}

.listondragover-bottom:after, .listondragover-top:after {
    content: "";
    position: absolute;
    left: 30px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 4px;
    height: 4px;
    border: 2px solid #686868;
    background-color: #fff;
    box-sizing: unset;
}

.listondragover-center {
    border: 2px solid #686868;
}

#sidebar.collapsed .dropdown-toggle::after {
    display: none;
}

#sidebar-action {
    border-top: 1px solid rgba(0,0,0,0.1);
    height: 47px;
}

#main {
    height: 100vh;
    flex: 1;
}

#main-navbar {
    height: 48px;
}

#searchbox {
    flex: 1;
}

    #searchbox input {
        border: none !important;
        background: none !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        padding: 0;
        line-height: 20px;
        font-weight: 500;
        font-size: 18px;
        user-select: none;
    }

        #searchbox input:focus {
            outline: none;
        }

#searchbox-state {
    cursor: pointer;
}
