<div class="jumbotron">
    <h1 class="display-4">歡迎</h1>
    <p class="lead">這是一個練習用專案，主要關注的技術在於<a href="https://docs.microsoft.com/zh-tw/aspnet/mvc/mvc5">ASP.NET MVC5</a>與<a href="https://vuejs.org/">Vue.js</a></p>
    <hr class="my-4">
    <p>這個專案的模仿對象是奇妙清單，一個簡潔好用的待辦事項管理工具。</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://wunderlist.com" role="button">前往奇妙清單</a>
    </p>
</div>
